* {

    box-sizing: border-box;

    margin: 0;

    padding: 0;

  }

  .giallo{
    background-color: whitesmoke;
  }

  p
  {
    color: black;
    height: 10px;
    font-size: 110%;
    font-weight: 400;
  }
  .titolo{
    height: 100px;
    font-size: 1000%;
    font-weight: 600;
    color: Black;
    text-shadow: 0.1em 0.1em 0.15em  rgb(252, 66, 66);
    font-family: 'times new roman';
  }

  .desc
  {
    min-width: 1000px;
    min-height: 100px;
    max-width: 500px;
    max-height: 50000px;
  }


  #nascondi{
    display: none;
  }

#nascondi2{
  display: none;
  }

  body {

    background: url(img/sfondo1.png) no-repeat center center fixed;

    -moz-background-size: cover;

    -webkit-background-size: cover;    

    -o-background-size: cover; 

    background-size: cover;

    font-family: Georgia, "Times New Roman", Times, serif;

    line-height: 1.5;

    background-color: #fff;

    color: #000;

    font-family:'Arial Narrow';

  }

  th {
    text-align:left;
  }

  table, th, td{
    border:1px solid #000;
    border-collapse: collapse;
    background-color: rgb(211, 211, 211);
  }

  th, td{
    padding:10px;
  }

  

  .container {

    width: 90%;

    max-width: 1100px;

    margin: auto;

  }

  

  ul {

    list-style: none;

  }

  

  a {

    text-decoration: none;

    color: #262626;

  }

  

  .nav {

    border-radius: 4px;

    display: flex;

    font-weight: bold;

    justify-content: space-between;

    align-items: center;

    height: 80px;

    font-size: 16px;

    padding: 20px 0;

    background-color: rgb(252, 125, 125);

  }

  

  .nav .logo {

    font-size: 20px;

  }

  

  .nav ul {

    display: flex;

  }

  

  .nav ul li {

    padding: 0 20px;

  }

  

  .nav ul li a {

    padding-bottom: 2px;

  }

  

  .nav ul li a:hover {

    border-bottom: 2px solid #262626;

  }

  

  .mnav ul.menu {

    display: flex;

    margin-right: 30px;

    padding: 0 20px;

  }

  

  .btn {

    cursor: pointer;

    display: inline-block;

    font-weight: bold;

    background: #262626;

    color: #fff;

    border-radius: 7px;

    font-size: 15px;

    padding: 10px 20px;

    box-shadow: 0px 15px 10px -10px rgba(0,0,0.4);
    transition: all 2s;
  }

  

  .btn:hover {

    box-shadow: 0px 45px 20px -30px rgba(0,0,0.4);
    transform: translateY(-20px);

  }

  .video-back{
    position: absolute;
    top:0;
    left: 0;
    border-color: #000;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
  }

  
 
  .Descrizione {

    position: relative;

    width: 100%;

    height: 625px;

    background: linear-gradient(0deg, rgba(255, 253, 253, 0.8), rgba(255, 255, 255, 0.3)), url("img/video.mp4") no-repeat center center/cover;

    background-size: cover;
    display: flex;

    flex-direction: column;

    align-items: center;

    text-align: center;

    justify-content: flex-end;

    padding-bottom: 300px;

    margin-bottom: 20px;

    overflow: hidden;

  }

  /*.Descrizione:after {
    content: ' ';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0; left: 0;
    background: black;
    opacioty: 0.1;
  }*/

  h2{
    color: whitesmoke;
  }

  .Descrizione h2 {

    font-size: 30px;

  }

  

  .Descrizione p,

  .Descrizione h2 {

    margin-bottom: 10px;

  }

  

  .Descrizione .btn {

    margin-top: 20px;
    margin-top: 70px;

  }

  

  .box {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    background-color: rgb(211, 211, 211);

    grid-gap: 70px;

    margin-bottom: 80px;
    margin:20px auto;
    border-style: solid;
    border-color:rgb(211, 211, 211);
  }

  

  .box img {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
  }

  

  .box h3 {

    margin-bottom: 5px;

  }

  

  .box a {

    display: inline-block;

    padding-top: 10px;

    color: #0067b8;

    font-weight: bold;

  }

  

  .box a:hover i {

    margin-left: 3px;

  }

  

  .center {

    font-weight: bold;

  }

  

  .center .content {

    width: 30%;

    padding: 40px 0 0 40px;

  }

  

  .center p {

    margin: 10px 0 20px;

  }

  

  .footer {

    background-color: #0048e4;

  }

  

  .footer-inner {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin: 10px auto;

    padding: 20px 80px;

    color: #fff;

  }

  

  .footer-inner i:hover {

    opacity: 0.3;

  }

  

  @media (max-width: 800px) {

    .box {

      grid-template-columns: repeat(2, 1fr);

    }

    .center .content p {

      display: none;

    }

    .center .content h2 {

      margin-top: 30px;

      margin-bottom: 20px;

    }

    .center .content .btn {

      padding: 10px;

    }

  }

  

  @media (max-width: 600px) {

    .box {

      grid-template-columns: 1fr;

    }

  }

